%ul.nav.nav-tabs
  = settings_link_to '个人设置', edit_user_registration_path(type: :profile)
  = settings_link_to '密码设置', edit_user_registration_path(type: :password)
  = settings_link_to '第三方账户绑定', authentications_path
  = settings_link_to '邀请好友', '#'