.page-header
  %h1
    用户动态
    %small 活跃用户游戏达人

%ul.media-list
  - 5.times do
    %li.media
      = link_to '#', class: 'pull-left' do
        %img{:alt => "", "data-src" => "holder.js/48x48"}
      .media-body
        %p
          西唯-Jerry赞了吞食天地大同盟
          不到一小时前