%h3 Pricing
%p.info
  %strong $200
  for
  %strong 30
  days
%p.copy
  Includes access to
  %strong
    %a{:href => "/designers"} Find Designers
  to search for talent by location, skills, availability and other criteria while your job ad is running.
%h3 How it works
%p.info
  Enter and preview your job ad. The
  %strong Job URL
  links the ad to your existing job page with a description and instructions for applying. (Dribbble doesn't host the job description.)
%p.info
  When you're happy with the ad, we'll take you to PayPal to purchase it (you don't need a PayPal account).
%p.copy
  Your job ad will be published, you'll have access to
  = succeed "," do
    %strong Find Designers
  and a receipt emailed to you immediately after purchase.
%h3 Terms
%p.info
  One job per ad please.
%p.info
  We reserve the right to remove or modify any job ad for any reason. If we remove your ad, we'll refund you.
%p.copy
  Other than ads that are removed,
  = succeed "." do
    %strong there are no refunds
%h3 Questions?
%p.copy
  Need help or have questions?
  %br
    %strong
      %a{:href => "mailto:contact@dribbble.com"} contact@dribbble.com