- content_for :jumbotron do
  .jumbotron.masthead.topic

.row
  .span9
    %section#topics
      .page-header
        %h1
          吞食专题
          %small 推荐专题的简介信息，大家都想一下方案如何写。
      %ul.thumbnails
        - collection.each do |resource|
          = render 'entry', resource: resource

  .span3= render '/application/sidebars/topic', posts: @posts

- content_for :js do
  :coffeescript
    $ ->
      $('.raty').raty
        readOnly: true
        score: ->
          $(this).attr 'data-rate'