#bangumi-wrap
  #bangumi-detail-155.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "#"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_03hiironokakera.jpg"}/
        %p.bangumi-time
          %span 周日晚上 22点
    .bangumi-content
      %h1
        %a{:href => "#"} 緋色的欠片
      %p.bangumi-meta
        [
        %a{:href => "#"}> 緋色の欠片
        ]
      %p
        由於父母被調任國外，主角春日珠紀只好回到年幼時曾住過的季封村投靠外祖母家，沒想到才一抵達村子，就被不知名生物襲擊！此時，突然出現一名自稱守護者的少年所救...
        %br/
        事後，珠紀由外祖母口中得知自己是繼承了玉依血統的「玉依姬」，必須肩負起封印魔刀「鬼斬丸」的使命，於是珠紀並在代代相傳的五家守護者的保護下，對抗覬覦鬼斬丸強大力量的邪惡勢力。
    %a.bangumi-all{:href => "#"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-156.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "#"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_04shibainuko.jpg"}/
        %p.bangumi-time
          %span 周日晚上 22点
    .bangumi-content
      %h1
        %a{:href => "#"} 柴犬子
      %p.bangumi-meta
        [
        %a{:href => "#"}> しばいぬ子さん
        ]
      %p 《柴犬子》的主人公柴犬子在周围的人眼中看起来只不过是一个茶色头发有点卷的普通女孩子。但是在另一个主人公石桥茶子的眼中却是一只两只腿直立行走的柴犬姿态，故事就是围绕着这两个人的日常高中生活来展开。
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-181.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "#"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_29gfx.jpg"}/
        %p.bangumi-time
          %span 周日凌晨 1点
    .bangumi-content
      %h1
        %a{:href => "#"} 谜样女友X
      %p.bangumi-meta
        [
        %a{:href => "#"}> 謎の彼女X
        ]
      %p
        描写拥有可以经由口水来传达感情这样的特殊能力，使用剪刀是奇异女高中生卜部美琴的兴趣、与主角桩明之间的恋爱（？）关系。标题中的“X”是从女主角所使用的剪刀形状而来。
        %br/
        %br/
        相较于作者过去的作品多与神话跟神秘要素有重大关连，本作品除了女主角的神秘力量来源依然成谜之外，故事几乎都环绕着日常校园生活、恋爱情结打转。另外本作品与哆啦A梦、蜡...
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-110.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "#"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/11q3_hunter.jpg"}/
        %p.bangumi-time
          %span 周日上午 10点
    .bangumi-content
      %h1
        %a{:href => "#"} 全职猎人2011
      %p.bangumi-meta
        [
        %a{:href => "#"}> HUNTER×HUNTER
        ]
      %p
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-184.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "#"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_32vanguard.jpg"}/
        %p.bangumi-time
          %span 周日上午 10点
    .bangumi-content
      %h1
        %a{:href => "#"} 卡片战斗先导者亚洲巡回赛篇
      %p.bangumi-meta
        [
        %a{:href => "#"}> カードファイト!!ヴァンガード アジアサーキット編
        ]
      %p
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-141.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "#"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/12q1_poyopoyo.jpg"}/
        %p.bangumi-time
          %span 周日早晨 7点
    .bangumi-content
      %h1
        %a{:href => "#"} 嘟嘟猫观察日记
      %p.bangumi-meta
        [
        %a{:href => "#"}> ポヨポヨ観察日記
        ]
      %p 作品以架空的田园都市千叶县的竹马市为舞台，故事围绕一只黄毛背带虎纹的球状体型猫与其身边的人们展开的温暖日常及欢闹趣事。
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-46.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=%E7%BE%8E%E9%A3%9F%E7%9A%84%E4%BF%98%E8%99%8F&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/46.jpg"}/
        %p.bangumi-time
          %span 周日上午 9点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=%E7%BE%8E%E9%A3%9F%E7%9A%84%E4%BF%98%E8%99%8F&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 美食猎人TORIKO
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=%E7%BE%8E%E9%A3%9F%E7%9A%84%E4%BF%98%E8%99%8F&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> トリコ
        ]
      %p 本作是一部以“美食”为主的漫画作品，全身的肉在舌间融化并且浮出一层油的的野兽，一整年都结有美味虾蟹肉的树、流出源源不绝的香醇白兰地涌泉的泉水，这是一个探求未知的美味时代，每个美食家的人生菜单分为前菜、汤、鱼、肉、主菜、沙拉、甜点、饮料全8 种，美食四天王之一的特瑞科为了完成自己的全餐菜单，踏上了寻找珍奇美食的旅程。
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-99.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=%E6%88%98%E6%96%97%E4%B9%8B%E9%AD%82&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/11q3_bs.jpg"}/
        %p.bangumi-time
          %span 周日早晨 7点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=%E6%88%98%E6%96%97%E4%B9%8B%E9%AD%82&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 战斗之魂霸王
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=%E6%88%98%E6%96%97%E4%B9%8B%E9%AD%82&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> バトルスピリッツ覇王（ヒーローズ）
        ]
      %p 《战斗之魂：霸王》是《战斗之魂》动画系列的第4部作品。本作的主人公是13岁少年阳升一，他梦想成为“战斗之魂”卡片游戏的新世界冠军“霸王（Hero）”，因此向卡片战斗的世界发起了挑战。比起以往的《战斗之魂》动画来，这次的新章更具有现代感。
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-179.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=upotte&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_27upotte.jpg"}/
        %p.bangumi-time
          %span 周日凌晨 0点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=upotte&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 枪械少女!!
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=upotte&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> うぽって!!
        ]
      %p 现国被临时调派到青锖学园任教，但当他去到学校的时候，才发现青锖学园的所有人都是枪械，自己是唯一的人类。普通人类教师+枪械少女学生的日常就此展开。
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-140.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=BRAVE&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/12q1_brave10.jpg"}/
        %p.bangumi-time
          %span 周日凌晨 2点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=BRAVE&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} BRAVE10
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=BRAVE&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> BRAVE10
        ]
      %p 关原之战开始的1年前。出云的巫女伊佐那海被人袭击，在逃亡中遇到伊贺的忍者雾隐才藏，那海只好拜托才藏带她去找信州的真田幸村，就在这时正是真田幸村聚集十位勇士的时候。
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-151.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=%E5%A5%B3%E5%AD%90%E9%AB%98%E5%AF%AE%E7%89%A9%E8%AF%AD&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/12q1_joshiryo.jpg"}/
        %p.bangumi-time
          %span 周一凌晨 0点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=%E5%A5%B3%E5%AD%90%E9%AB%98%E5%AF%AE%E7%89%A9%E8%AF%AD&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 极乐园女子高寮物语
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=%E5%A5%B3%E5%AD%90%E9%AB%98%E5%AF%AE%E7%89%A9%E8%AF%AD&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> ゴクジョッ。〜極楽院女子高寮物語〜
        ]
      %p 「极乐园女子高寮物语」的故事设定于男性的禁地——极乐院女子高等学院的女高中生宿舍之内。对所有从没有进入过女生宿舍的男生来说，或者会常常幻想成是一个天堂、一个乐园，但在「极乐园女子高寮物语」之中却是完全是两码事，不但全无法纪可言，各女生想做什么就做什么，而刚从美国洛杉矶转学而来的女主角栗桥南，在初临这个没有人管理的女生宿舍，栗桥南却企图成为这里的女王，而她的秘密武器就是她的可爱！大家没有看错，她就是打算用她的可爱使其她女生降服，但她的可爱本身并不是有什么特别的魔力，而是栗桥南只...
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-25.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=gintama&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/25.jpg"}/
        %p.bangumi-time
          %span 周一傍晚 18点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=gintama&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 银魂‘
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=gintama&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> 銀魂'
        ]
      %p
        江户时代末期（本作故事设定的20年前），被称为“天人”（あまんと）的谜之异星人来袭。于是地球人与天人之间的战争瞬即爆发，为数众多的武士和攘夷派志士都参与与天人的战斗。
        %br/
        幕府见识到天人强大的实力后，最终向天人低头，放弃武士不管，擅自与天人签订不平等条约，准许他们入国。
        %br/
        其后更颁布了“废刀令”，夺走了武士的刀，使他们无力反抗。
        %br/
        \...
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-185.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=Brain&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_33puzzle.jpg"}/
        %p.bangumi-time
          %span 周日傍晚 17点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=Brain&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 天才黄金脑～神之谜 2nd Season
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=Brain&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> ファイ・ブレイン〜神のパズル 第2シリーズ
        ]
      %p
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-124.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=%E6%9C%AA%E6%9D%A5%E6%97%A5%E8%AE%B0&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/11q3_mirainikki.jpg"}/
        %p.bangumi-time
          %span 周日晚上 23点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=%E6%9C%AA%E6%9D%A5%E6%97%A5%E8%AE%B0&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 未来日记
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=%E6%9C%AA%E6%9D%A5%E6%97%A5%E8%AE%B0&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> 未来日記
        ]
      %p 国中二年级学生天野雪辉习惯远离所有人，以一个旁观者的角度把亲眼所见的事记录在自己的手机中。一天，时空之神宙斯把未来日记植入他的手机中，这日记记录的是他未来90天发生的事，包括考试内容、遇到的危险等。但这个“日记”一旦被破坏，持有者的未来将会同时消失，也就是持有者会立刻消失。宙斯已选定十二位未来日记持有者，而最后生存的人将会成为宙斯的继承者，掌握支配时空的“神之座”。他跟同样拥有未来日记的其余11人，展开你死我活斗争的杀人游戏。
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-157.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=GON&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_05gon.jpg"}/
        %p.bangumi-time
          %span 周一傍晚 18点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=GON&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} GON
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=GON&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> GON-ゴン-
        ]
      %p 《小恐龙阿贡》是田中政志1991年至2002年连载于《MORNING》（讲谈社）上的人气漫画。讲述小恐龙阿贡在大自然之中各种各样的冒险故事。
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-139.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=%E5%AE%87%E5%AE%99%E6%B5%B7%E8%B4%BC&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/12q1_space.jpg"}/
        %p.bangumi-time
          %span 周日凌晨 0点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=%E5%AE%87%E5%AE%99%E6%B5%B7%E8%B4%BC&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 暴力宇宙海贼
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=%E5%AE%87%E5%AE%99%E6%B5%B7%E8%B4%BC&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> モーレツ宇宙海賊
        ]
      %p 作品讲述活跃于宇宙快艇社团、同时又在高级咖啡店打工的女高中生加藤茉莉香，继承已故父亲遗留下来的宇宙海贼船“弁天丸”，由此展开的冒险故事。
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-142.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=%E8%BD%AE%E5%9B%9E%E7%9A%84%E6%8B%89%E6%A0%BC%E6%9C%97%E6%97%A5&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/12q1_lagrange.jpg"}/
        %p.bangumi-time
          %span 周日晚上 22点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=%E8%BD%AE%E5%9B%9E%E7%9A%84%E6%8B%89%E6%A0%BC%E6%9C%97%E6%97%A5&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 轮回的拉格朗日
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=%E8%BD%AE%E5%9B%9E%E7%9A%84%E6%8B%89%E6%A0%BC%E6%9C%97%E6%97%A5&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> 輪廻のラグランジェ
        ]
      %p 主人公京乃圆是一名真心喜爱故乡千叶县・鸭川之海的17岁女高中生。她创立了以“如果遇到有困难的人，就会伸出援助之手”为目的的社团“鸭女Jersey部”，虽然Jersey部的成员至今只有自己一人，但她还是精神满满地进行各种活动。某日，京乃圆遇见一位谜之美少女……
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-45.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=%E7%88%86%E4%B8%B8&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/45.jpg"}/
        %p.bangumi-time
          %span 周日上午 9点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=%E7%88%86%E4%B8%B8&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 爆丸第3季
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=%E7%88%86%E4%B8%B8&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> 爆丸バトルブローラーズガンダリアンインベーダーズ
        ]
      %p 有一天，全世界各地的小朋友面前出现了一种不可思议的卡片。使用这种卡片，可以在一个特爆丸动画片剧照(20张)殊的格斗空间召唤出一种叫做爆丸的怪兽进行对战。主角是位叫做小弹的男孩，在对战中的卡片里召唤出巨大的爆丸「独角巨龙」进行对战后，得知爆丸们的世界开始崩坏，原来是一种叫做超级次元洛巴的状态，这种状态来源于一只名叫白龙的白色无属性怪兽进入了巴斯洛亚的沉寂核心，这样的情况也开始影响到人类的世界。小弹和同伴们为了拯救世界，展开了一场又一场爆丸对战。
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-194.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=hyouka&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_42hyoka.jpg"}/
        %p.bangumi-time
          %span 周一凌晨 0点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=hyouka&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 氷菓
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=hyouka&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> 氷菓
        ]
      %p 对于任何事都并不积极，并信奉节能主义的高校生折木奉太郎，在姐姐的折木供恵的劝诱下加入了神山高校的古典部。并且与在那里遇到的同伴们一起，揭开日常中种种谜题，并且将挑战古典部的文集《氷菓》中的秘密，以及33年前的真相。
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-153.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=%E6%98%9F%E7%9F%A2&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_01seiya.jpg"}/
        %p.bangumi-time
          %span 周日早晨 6点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=%E6%98%9F%E7%9F%A2&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 圣斗士星矢Ω
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=%E6%98%9F%E7%9F%A2&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> 聖闘士星矢Ω
        ]
      %p
        每当邪恶蔓延于这个世界上时，一定会出现希望的战士·“圣斗士”。他们为了守护大地和平和女神雅典娜而战斗。特别是天马座的圣斗士·星矢和他的同伴们，身为最下等的青铜圣斗士，逐渐掌握凌驾于比他们高级的白银圣斗士和黄金圣斗士的实力，最终打倒了海皇波塞冬和冥王哈迪斯。他们的活跃事迹如今成为了传说。
        %br/
        %br/
        由于星矢他们的努力，大地迎来了和平。而如今现在的女神雅典娜（城户纱织），正在养育...
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-14.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=yugioh&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/14.jpg"}/
        %p.bangumi-time
          %span 周一晚上 19点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=yugioh&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 遊戲王ZEXAL
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=yugioh&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> 遊☆戯☆王ゼアル
        ]
      %p 广纳全世界庞大人气的《游戏王》系列最新作《游戏王ZEXAL》是游戏王系列的第五部作品。精力旺盛的主人公九十九游马以勇于挑战的“一飞冲天”作口号，以成为决斗冠军的目标而努力奋战。
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-109.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=%E5%BC%B9%E7%8F%A0%E4%BA%BA&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/11q3_daman.jpg"}/
        %p.bangumi-time
          %span 周日早晨 8点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=%E5%BC%B9%E7%8F%A0%E4%BA%BA&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 弹珠人CROSS FIGHT
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=%E5%BC%B9%E7%8F%A0%E4%BA%BA&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> クロスファイトビーダマン
        ]
      %p 弹珠人!
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-150.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=%E5%85%89%E4%B9%8B%E7%BE%8E%E5%B0%91%E5%A5%B3&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/12q1_smile.jpg"}/
        %p.bangumi-time
          %span 周日早晨 8点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=%E5%85%89%E4%B9%8B%E7%BE%8E%E5%B0%91%E5%A5%B3&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} Smile光之美少女
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=%E5%85%89%E4%B9%8B%E7%BE%8E%E5%B0%91%E5%A5%B3&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> スマイルプリキュア！
        ]
      %p Smile 光之美少女！
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-123.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=%E6%9C%BA%E5%8A%A8%E6%88%98%E5%A3%AB%E9%AB%98%E8%BE%BEAGE&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/11q3_gundamage.jpg"}/
        %p.bangumi-time
          %span 周日傍晚 17点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=%E6%9C%BA%E5%8A%A8%E6%88%98%E5%A3%AB%E9%AB%98%E8%BE%BEAGE&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 机动战士高达AGE
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=%E6%9C%BA%E5%8A%A8%E6%88%98%E5%A3%AB%E9%AB%98%E8%BE%BEAGE&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> 機動戦士ガンダムAGE
        ]
      %p
        自人类移民至太空殖民地以来，已经过了数百年的宇宙时代，争夺地球圈霸权的战争结束，和平的时代终于到来时－－
        %br/
        A.G.101年，在突然出现的未知敌人（Unknown Enemy。以下简称“UE”）的袭击下，太空殖民地“天使”崩毁，居住于地球圈的人们再度陷入漫长的苦痛之中。
        %br/
        A.G.108年，与UE之间的战争仍持续著，和平的太空殖民地“欧华”也受到了UE的袭击，居于其中的7岁少年古利特·明日野因被卷入了战火而失去了母亲。但母亲在垂死之际，将代代相传的...
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-180.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=Fate&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_28fz.jpg"}/
        %p.bangumi-time
          %span 周日凌晨 0点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=Fate&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} Fate/Zero
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=Fate&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> Fate/Zero2ndシーズン
        ]
      %p 《Fate/Zero》是魔术师和英灵们拼上性命互相厮杀的大混战，它所表现的是以生存竞争为本质的，真正的“圣杯战争”。
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-67.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=one+peace&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/67.jpg"}/
        %p.bangumi-time
          %span 周日上午 9点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=one+peace&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 海贼王
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=one+peace&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> ワンピース
        ]
      %p 财富、名声、力量，拥有这世界上的一切的“海贼王”哥尔·D·罗杰，在临刑之前说出了一句话：“想要我的宝藏吗？想要的话可以全部给你，去找吧！我把所有的财宝都放在那里！”，后来世界上的人们，将这个宝藏称做一个大秘宝“One Piece”，许多人为了争夺“One Piece”，而争相先后出海成为海贼，后来就形成了“大海贼时代”。主角蒙奇·D·路飞为了要实现与“红发”香克斯的约定而出海，在遥远的路途上找寻着志同道合的伙伴，一起进入“伟大航道”，目标当上“海贼王”。
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-143.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=EVOL&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/12q1_aquarionEvol.jpg"}/
        %p.bangumi-time
          %span 周一凌晨 1点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=EVOL&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 创圣的大天使EVOL
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=EVOL&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> アクエリオンEVOL
        ]
      %p あの“ 創聖合体 ”から一万二千年が過ぎた世界──
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-125.bangumi-detail
    .bangumi-img
      %a{:href => "search.tora?keywords=%E9%AD%94%E6%B3%95%E5%B0%8F%E6%81%B6%E9%AD%94&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/11q3_chibidevi.jpg"}/
        %p.bangumi-time
          %span 周一傍晚 18点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=%E9%AD%94%E6%B3%95%E5%B0%8F%E6%81%B6%E9%AD%94&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 魔法小恶魔
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=%E9%AD%94%E6%B3%95%E5%B0%8F%E6%81%B6%E9%AD%94&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> ちび☆デビ！
        ]
      %p 一个从小失去父母，在学校老是被欺负的国中女生－泽田帆乃香，某天早上醒来居然发现自己床上躺了一个小婴儿，伴随而来却是一连串的灾难。神秘二人组无所不用其极地想抢走小婴儿。而自称是小恶魔托儿所的园长，更是让人摸不著头绪。但这个小婴儿不是普通人，而是拥有特殊能力的恶魔之子。平凡的帆乃香也因此展开了一段不可思议的全新生活。
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-108.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=%E6%95%B0%E7%A0%81%E5%AE%9D%E8%B4%9D%E4%BA%A4%E9%94%99%E6%88%98%E4%BA%89&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/11q3_digimon.jpg"}/
        %p.bangumi-time
          %span 周日早晨 6点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=%E6%95%B0%E7%A0%81%E5%AE%9D%E8%B4%9D%E4%BA%A4%E9%94%99%E6%88%98%E4%BA%89&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 数码宝贝交错战争 穿越时间的少年猎人...
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=%E6%95%B0%E7%A0%81%E5%AE%9D%E8%B4%9D%E4%BA%A4%E9%94%99%E6%88%98%E4%BA%89&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> デジモンクロスウォーズ時を駆ける少年ハンターたち
        ]
      %p 第三篇“時を駆ける少年ハンターたち”（穿越时间的少年猎人）......
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-183.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=%E6%88%98%E6%96%97%E9%99%80%E8%9E%BA&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_31metalfight.jpg"}/
        %p.bangumi-time
          %span 周日早晨 8点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=%E6%88%98%E6%96%97%E9%99%80%E8%9E%BA&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 金属对决 战斗陀螺 ZERO G
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=%E6%88%98%E6%96%97%E9%99%80%E8%9E%BA&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> メタルファイトベイブレード ZEROG
        ]
      %p
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-154.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=%E5%AE%87%E5%AE%99%E5%85%84%E5%BC%9F&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_02spacebrothers.jpg"}/
        %p.bangumi-time
          %span 周日早晨 7点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=%E5%AE%87%E5%AE%99%E5%85%84%E5%BC%9F&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 宇宙兄弟
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=%E5%AE%87%E5%AE%99%E5%85%84%E5%BC%9F&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> 宇宙兄弟
        ]
      %p 2006年7月9日，不巧撞见正要飞翔到月球的UFO而促使“2个人立志成为宇航员”因而南波六太和南波日日人两兄弟就此立下约定。时光飞逝到了2025年，因为当时的交换约定促使日日人成为NASA的宇航员，并且已要向月球迈进。另一方面，因为上司说了弟弟的坏话，让六太气愤而给了上司一记头锤，使他被汽车开发公司给开除了，六太因此变的失业。振作起来的六太想要再就业也非常不顺利，因此让他变得意志消沉而颓废，但在听到事情原委的日日人当天寄了封邮件告诉他，要他找出邮件上写的日期“指示他去听某天的录音带。”。那是年幼的时...
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-43.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=beelzebub&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/43.jpg"}/
        %p.bangumi-time
          %span 周日早晨 7点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=beelzebub&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 恶魔奶爸
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=beelzebub&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> べるぜバブ
        ]
      %p 石矢魔高中的不良学生男鹿辰巳，性格凶狠、擅长打架，就读学校号称太保率120%。某天在河边发现一位大叔，身体随后像被剖开般，而体内有一个没穿衣服、含着奶嘴的婴儿，他竟然是魔界未来的魔王…
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-138.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=%E4%BC%AA%E7%89%A9%E8%AF%AD&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/12q1_nisemonogatari.jpg"}/
        %p.bangumi-time
          %span 周日凌晨 0点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=%E4%BC%AA%E7%89%A9%E8%AF%AD&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 伪物语
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=%E4%BC%AA%E7%89%A9%E8%AF%AD&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> 偽物語
        ]
      %p 妹控的物语...
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-195.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=AKB0048&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_43akb0048.jpg"}/
        %p.bangumi-time
          %span 周日晚上 23点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=AKB0048&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} AKB0048
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=AKB0048&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> AKB0048
        ]
      %p
        21世纪之初，世界大战展开，造成了庞大的损坏。人类决定脱离地球，前往宇宙生活，以全新星暦00年展开一段崭新历史。新世代的统治者——超银河联合政府认为“演艺”和“歌曲”是扰乱人心之物，所以强硬实行“演艺禁止法”，严厉处罚有关人士。就只有演艺人爱好者的圣地秋叶原，可以展开一个“演艺绝对防卫圈”，与执政者作出持久对抗。大部分人的心灵，就此被黑暗包围……
        %br/
        %br/
        \...
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-111.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=%E7%A5%9E%E4%B9%8B%E8%B0%9C%E9%A2%98&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/11q3_kamipuzzle.jpg"}/
        %p.bangumi-time
          %span 周日傍晚 17点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=%E7%A5%9E%E4%B9%8B%E8%B0%9C%E9%A2%98&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 神之谜题
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=%E7%A5%9E%E4%B9%8B%E8%B0%9C%E9%A2%98&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> ファイ・ブレイン神のパズル
        ]
      %p 本作的舞台是私立学院学员高等部，主人公是对谜题十分着迷并自信逢谜必破的高一学生大门。有一天，他受到学生会长邀请，同青梅竹马少女野叶一起前往学校附近的遗迹解“不能解开之谜”，原来这是一个由神秘智能集团制造出的能危机人类生命的“贤者之谜”。可是热爱解谜的大门硬要作出挑战，在得到某件“物件”之后，大门即被点名成为所谓的“解答者”。从此，他就与野叶和其他充满个性的解答者一起挑战潜藏于世界各地的“贤者之谜”。
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-44.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=beyblade&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/44.jpg"}/
        %p.bangumi-time
          %span 周日早晨 8点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=beyblade&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 金属对决 战斗陀螺 4D
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=beyblade&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> メタルファイトベイブレード 4D
        ]
      %p
        宇宙中发生了一件不寻常事件。某一天，银河们帮助著被神秘少年约翰尼斯袭击的少年Yuki。Yuki是天才的天文学家Anubius 陀螺持有者。Yuki是通知银河说听到星的碎片传出声音。他说当晚目睹到天空落下了星的碎片(陨石)。有一道光指向着“Anubiusu”住所。据Yuki 说他听到星的碎片里传出声音说：“即将有很大的灾难………。”
        %br/
        另一方面，一个伟大的邪恶计划打算让星的碎的未知力量让‘黑太阳’破坏之神‘Nemesis’复活。
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-182.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=%E9%BB%91%E5%AD%90%E7%9A%84%E7%AF%AE%E7%90%83&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_30kurobas.jpg"}/
        %p.bangumi-time
          %span 周日凌晨 1点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=%E9%BB%91%E5%AD%90%E7%9A%84%E7%AF%AE%E7%90%83&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 黑子的篮球
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=%E9%BB%91%E5%AD%90%E7%9A%84%E7%AF%AE%E7%90%83&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> 黒子のバスケ
        ]
      %p
        中学联赛三连霸的篮球强豪“帝光中学”，部员数超过百人，其中更有着被誉为“奇迹的世代”的五位天才篮球选手，以及一个被忽视的人－－梦幻的第六人！
        %br/
        %br/
        本作叙述的便是“梦幻的第六人”黑子哲也以及远从美国归来的天才篮球选手火神大我的故事。火神立志打败“奇迹的世代”并成为日本第一的篮球选手，而黑子也决定帮助他。两人一起正式加入篮球社后，面临的第一场友谊赛的对手便是黑子在帝光时的队友、奇迹的世代...
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-186.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=%E9%BB%84%E6%98%8F%E5%B0%91%E5%A5%B3&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_34amunesia.jpg"}/
        %p.bangumi-time
          %span 周一凌晨 0点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=%E9%BB%84%E6%98%8F%E5%B0%91%E5%A5%B3&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 黄昏少女×失忆
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=%E9%BB%84%E6%98%8F%E5%B0%91%E5%A5%B3&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> 黄昏乙女×アムネジア
        ]
      %p
        以创立60年的传统而自豪的私立诚教学园，建立在一座小山上俯瞰著整个城市，不过，学园创立以来，以“旧校舍的幽灵”为首的各式各样鬼怪故事和城市传说在学生之间流传。
        %br/
        %br/
        有一天，在校生新谷贞一遇见穿着现在已被停用的黑水手服的不可思议的女学生。那位女学生称自己正是“旧校舍的幽灵”夕子，并希望贞一协助她找出自己的死因与真相。
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-detail-187.bangumi-detail{:style => "display:none"}
    .bangumi-img
      %a{:href => "search.tora?keywords=saki&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
        %img{:alt => "Bangumi Images", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_35saki.jpg"}/
        %p.bangumi-time
          %span 周一凌晨 1点
    .bangumi-content
      %h1
        %a{:href => "search.tora?keywords=saki&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"} 天才麻将少女 阿知贺篇 episode of side-A
      %p.bangumi-meta
        [
        %a{:href => "search.tora?keywords=saki&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}> 咲-Saki-阿知賀編 episode of side-A
        ]
      %p 「阿知贺篇」的主角既不是宫永咲、也不是原村和，而是原村和在小学时代的挚友高鸭稳乃。而故事正是描写稳乃为了与日渐疏远的小和再次对战，而与奈良县阿知贺女子学院麻将部的伙伴们向着全国麻将大赛进军。
    %a.bangumi-all{:href => "bangumi.tora"} 查看全部番组
    .badge-wrap.badge-bangumi
      .badge
        近期番组
  / /bangumi_detail
  #bangumi-list
    %ul
      %li#bangumi-trigger-155.bangumi-trigger
        %a{:href => "search.tora?keywords=%E7%B7%8B%E8%89%B2%E7%9A%84%E6%AC%A0%E7%89%87&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_03hiironokakera.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-156.bangumi-trigger
        %a{:href => "search.tora?keywords=%E6%9F%B4%E7%8A%AC%E5%AD%90&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_04shibainuko.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-181.bangumi-trigger
        %a{:href => "search.tora?keywords=%E8%B0%9C%E6%A0%B7%E5%A5%B3%E5%8F%8B&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_29gfx.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-110.bangumi-trigger
        %a{:href => "search.tora?keywords=%E5%85%A8%E8%81%8C%E7%8C%8E%E4%BA%BA&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/11q3_hunter.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-184.bangumi-trigger
        %a{:href => "search.tora?keywords=%E5%8D%A1%E7%89%87%E6%88%98%E6%96%97&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_32vanguard.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-141.bangumi-trigger
        %a{:href => "search.tora?keywords=%E8%A7%82%E5%AF%9F%E6%97%A5%E8%AE%B0&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/12q1_poyopoyo.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-46.bangumi-trigger
        %a{:href => "search.tora?keywords=%E7%BE%8E%E9%A3%9F%E7%9A%84%E4%BF%98%E8%99%8F&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/46.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-99.bangumi-trigger
        %a{:href => "search.tora?keywords=%E6%88%98%E6%96%97%E4%B9%8B%E9%AD%82&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/11q3_bs.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-179.bangumi-trigger
        %a{:href => "search.tora?keywords=upotte&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_27upotte.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-140.bangumi-trigger
        %a{:href => "search.tora?keywords=BRAVE&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/12q1_brave10.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-151.bangumi-trigger
        %a{:href => "search.tora?keywords=%E5%A5%B3%E5%AD%90%E9%AB%98%E5%AF%AE%E7%89%A9%E8%AF%AD&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/12q1_joshiryo.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-25.bangumi-trigger
        %a{:href => "search.tora?keywords=gintama&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/25.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-185.bangumi-trigger
        %a{:href => "search.tora?keywords=Brain&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_33puzzle.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-124.bangumi-trigger
        %a{:href => "search.tora?keywords=%E6%9C%AA%E6%9D%A5%E6%97%A5%E8%AE%B0&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/11q3_mirainikki.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-157.bangumi-trigger
        %a{:href => "search.tora?keywords=GON&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_05gon.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-139.bangumi-trigger
        %a{:href => "search.tora?keywords=%E5%AE%87%E5%AE%99%E6%B5%B7%E8%B4%BC&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/12q1_space.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-142.bangumi-trigger
        %a{:href => "search.tora?keywords=%E8%BD%AE%E5%9B%9E%E7%9A%84%E6%8B%89%E6%A0%BC%E6%9C%97%E6%97%A5&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/12q1_lagrange.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-45.bangumi-trigger
        %a{:href => "search.tora?keywords=%E7%88%86%E4%B8%B8&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/45.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-194.bangumi-trigger
        %a{:href => "search.tora?keywords=hyouka&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_42hyoka.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-153.bangumi-trigger
        %a{:href => "search.tora?keywords=%E6%98%9F%E7%9F%A2&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_01seiya.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-14.bangumi-trigger
        %a{:href => "search.tora?keywords=yugioh&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/14.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-109.bangumi-trigger
        %a{:href => "search.tora?keywords=%E5%BC%B9%E7%8F%A0%E4%BA%BA&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/11q3_daman.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-150.bangumi-trigger
        %a{:href => "search.tora?keywords=%E5%85%89%E4%B9%8B%E7%BE%8E%E5%B0%91%E5%A5%B3&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/12q1_smile.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-123.bangumi-trigger
        %a{:href => "search.tora?keywords=%E6%9C%BA%E5%8A%A8%E6%88%98%E5%A3%AB%E9%AB%98%E8%BE%BEAGE&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/11q3_gundamage.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-180.bangumi-trigger
        %a{:href => "search.tora?keywords=Fate&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_28fz.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-67.bangumi-trigger
        %a{:href => "search.tora?keywords=one+peace&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/67.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-143.bangumi-trigger
        %a{:href => "search.tora?keywords=EVOL&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/12q1_aquarionEvol.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-125.bangumi-trigger.current-bgm
        %a{:href => "search.tora?keywords=%E9%AD%94%E6%B3%95%E5%B0%8F%E6%81%B6%E9%AD%94&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/11q3_chibidevi.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-108.bangumi-trigger
        %a{:href => "search.tora?keywords=%E6%95%B0%E7%A0%81%E5%AE%9D%E8%B4%9D%E4%BA%A4%E9%94%99%E6%88%98%E4%BA%89&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/11q3_digimon.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-183.bangumi-trigger
        %a{:href => "search.tora?keywords=%E6%88%98%E6%96%97%E9%99%80%E8%9E%BA&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_31metalfight.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-154.bangumi-trigger
        %a{:href => "search.tora?keywords=%E5%AE%87%E5%AE%99%E5%85%84%E5%BC%9F&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_02spacebrothers.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-43.bangumi-trigger
        %a{:href => "search.tora?keywords=beelzebub&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/43.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-138.bangumi-trigger
        %a{:href => "search.tora?keywords=%E4%BC%AA%E7%89%A9%E8%AF%AD&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/12q1_nisemonogatari.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-195.bangumi-trigger
        %a{:href => "search.tora?keywords=AKB0048&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_43akb0048.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-111.bangumi-trigger
        %a{:href => "search.tora?keywords=%E7%A5%9E%E4%B9%8B%E8%B0%9C%E9%A2%98&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/11q3_kamipuzzle.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-44.bangumi-trigger
        %a{:href => "search.tora?keywords=beyblade&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/44.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-182.bangumi-trigger
        %a{:href => "search.tora?keywords=%E9%BB%91%E5%AD%90%E7%9A%84%E7%AF%AE%E7%90%83&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_30kurobas.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-186.bangumi-trigger
        %a{:href => "search.tora?keywords=%E9%BB%84%E6%98%8F%E5%B0%91%E5%A5%B3&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_34amunesia.jpg"}/
          %span.bgm-ova TV
          %em
      %li#bangumi-trigger-187.bangumi-trigger
        %a{:href => "search.tora?keywords=saki&stype%5B%5D=t&stype%5B%5D=tg&stype%5B%5D=f"}
          %img{:alt => "Thumb", :src => "http://cdn31.mukkyu.com/images/bgm/12q2_35saki.jpg"}/
          %span.bgm-ova TV
          %em
  / #bangumi-list
/ #bangumi-wrap