.row#settings
  .span9
    .section
      .page-header
        %h1
          用户信息设置
          %small 这里需要添加一些文案，大家使劲想
      = render '/application/tabs/settings'
      
  .span3
    .page-header
      %h1
        个人动态