= simple_form_for resource, url: collection_path, validate: true, html: { class: 'form-horizontal', method: :put } do |f|

  .form-actions
    = f.button :submit, '保存设置', class: 'btn btn-success btn-large'