- content_for :full do
  .full.home_banner
    %h1.compact
      %strong 如果你还没有注册成为吞迷，
      又怎么能称的上游戏达人呢？

- content_for :sidebar do
  = link_to new_bbs_board_post_path(resource), class: 'form-sub share' do
    发  帖
    %br/
    %em 分享游戏心得
  = render '/application/sidebars/bbs'