.bs-docs-social
  .container
    .row 
      .span8
        %p 这里需要一些文案啦。。。。大家多努力想想啊。。。不然不知道放什么啊。。。
        %p 马上成为正版吞迷
      .span4.clearfix
        - if user_signed_in?
          = link_to t('views.layout.my_profile').html_safe, user_path(uid: current_user.uid), class: 'btn btn-large'
        - else
          %h3 用以下帐号登录：
          %ul.social-connections
            - User.omniauth_providers.each do |provider|
              %li= link_to provider, "/users/auth/#{provider}", class: provider