.bs-docs-social
  .container
    %ul.bs-docs-social-buttons
      %li
        <wb:follow-button uid="2991975565" type="red_2" width="136" height="24" ></wb:follow-button>
      %li
        <iframe src="http://follow.v.t.qq.com/index.php?c=follow&a=quick&name=jerryshen&style=4&t=1357190078065&f=1" marginwidth="0" marginheight="0" allowtransparency="true" frameborder="0" height="27" scrolling="auto" width="182"></iframe>