.clearfix:before,.clearfix:after {
  content:"\0020";
  display:block;
  height:0;
  visibility:hidden;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1;
}

.tag-forum {
  margin-bottom: 20px;

  .notice {
    border-bottom: 1px solid #CADBEB;
    color: #80A5C9;
    text-shadow: 0 1px 0 #FFFFFF;
background: none repeat scroll 0 0 #E4F2FF;
padding: 6px 40px;
font-weight: normal;
text-align: left;
border-top: 1px solid #CDDFF0;
  }

  .child_board {
    padding: 10px 20px;
    border-bottom: 1px solid #CDDFF0;
    background-color: #fff;

    .head_img { float: left; }
    h1 { margin-left: 20px; display: inline-block; }
    p {
      margin-left: 300px;
      margin-top: 5px;
      color: #385064;
      border-top: 1px dashed #eee;
      padding: 5px 0;
      span {
        margin-right: 10px;
        &.topics { color: #003366; }
      }
    }
  }
}