- content_for :sidebar do
  = render '/application/sidebars/topic_show'

= render '/application/tabs/topic_photos'

%ol.dribbbles.group
  %li#screenshot-697702.group
    .dribbble
      .dribbble-shot
        .dribbble-img
          %a.dribbble-link{:href => "/shots/697702-Sallee-Design-New-Header?list=following"}
            %img{:alt => "New_header_teaser", :src => "http://dribbble.s3.amazonaws.com/users/29114/screenshots/697702/new_header_teaser.png"}/
          %a.dribbble-over{:href => "/shots/697702-Sallee-Design-New-Header?list=following", :style => "opacity: 0;"}
            %strong Sallee Design New Header
            %span.comment
              I just coded a new header for my website
              
              better than a snap. check it live
              
              if you go often to my site, make sure to clear you cache as some things might se...
            %em August 22, 2012
        %ul.tools.group
          %li.fav
            %a{:href => "/shots/697702-Sallee-Design-New-Header/fans", :title => "See fans of this screenshot"} 252
          %li.cmnt
            %a{:href => "/shots/697702-Sallee-Design-New-Header?list=following#comments", :title => "View comments on this screenshot"} 30
          %li.views.current-user-view
            3,592
      .extras
  %li#screenshot-649895.group
    .dribbble
      .dribbble-shot
        .dribbble-img
          %a.dribbble-link{:href => "/shots/649895-Twitvid-rebranding?list=following"}
            %img{:alt => "Tellypage_teaser", :src => "http://dribbble.s3.amazonaws.com/users/29114/screenshots/649895/tellypage_teaser.png"}/
          %a.dribbble-over{:href => "/shots/649895-Twitvid-rebranding?list=following", :style => "opacity: 0;"}
            %strong Twitvid rebranding
            %span.comment
              see it live
              follow me on telly
              
              I am finally very proud to present you what I've been working on the last 5 months. I've been taking care of rebranding Twi...
            %em July 17, 2012
        %ul.tools.group
          %li.fav
            %a{:href => "/shots/649895-Twitvid-rebranding/fans", :title => "See fans of this screenshot"} 409
          %li.cmnt
            %a{:href => "/shots/649895-Twitvid-rebranding?list=following#comments", :title => "View comments on this screenshot"} 53
          %li.views.current-user-view
            5,971
      .extras
  %li#screenshot-587043.group.end-of-row
    .dribbble
      .dribbble-shot
        .dribbble-img
          %a.dribbble-link{:href => "/shots/587043-Buttons-for-Slideshows?list=following"}
            %img{:alt => "Dribbbbbble_teaser", :src => "http://dribbble.s3.amazonaws.com/users/21816/screenshots/587043/dribbbbbble_teaser.png"}/
          %a.dribbble-over{:href => "/shots/587043-Buttons-for-Slideshows?list=following", :style => "opacity: 0.1719;"}
            %strong Buttons for Slideshows
            %em June 01, 2012
        %ul.tools.group
          %li.fav
            %a{:href => "/shots/587043-Buttons-for-Slideshows/fans", :title => "See fans of this screenshot"} 10
          %li.cmnt
            %a{:href => "/shots/587043-Buttons-for-Slideshows?list=following#comments", :title => "View comments on this screenshot"} 3
          %li.views
            118
      .extras
  %li#screenshot-583684.group
    .dribbble
      .dribbble-shot
        .dribbble-img
          %a.dribbble-link{:href => "/shots/583684-Music-Track-Selector-UI?list=following"}
            %img{:alt => "Track-selector_teaser", :src => "http://dribbble.s3.amazonaws.com/users/29114/screenshots/583684/track-selector_teaser.png"}/
          %a.dribbble-over{:href => "/shots/583684-Music-Track-Selector-UI?list=following", :style => "opacity: 0.00296282;"}
            %strong Music Track Selector UI
            %span.comment
              this bit of ui allows you to browse through a reduced amount of music tracks. Listen and select them.
              
              full pixels
              
              Awesome Iron Giant poster by the very tal...
            %em May 31, 2012
        %ul.tools.group
          %li.fav
            %a{:href => "/shots/583684-Music-Track-Selector-UI/fans", :title => "See fans of this screenshot"} 291
          %li.cmnt
            %a{:href => "/shots/583684-Music-Track-Selector-UI?list=following#comments", :title => "View comments on this screenshot"} 28
          %li.views
            4,856
      .extras
  %li#screenshot-565863.group
    .dribbble
      .dribbble-shot
        .dribbble-img
          %a.dribbble-link{:href => "/shots/565863-Elements?list=following"}
            %img{:alt => "Elements_teaser", :src => "http://dribbble.s3.amazonaws.com/users/29114/screenshots/565863/elements_teaser.png"}/
          %a.dribbble-over{:href => "/shots/565863-Elements?list=following", :style => "opacity: 0;"}
            %strong Elements
            %span.comment
              some small elements off an awesome page I'm working on.
            %em May 18, 2012
        %ul.tools.group
          %li.fav
            %a{:href => "/shots/565863-Elements/fans", :title => "See fans of this screenshot"} 422
          %li.cmnt
            %a{:href => "/shots/565863-Elements?list=following#comments", :title => "View comments on this screenshot"} 20
          %li.views
            4,598
      .extras
  %li#screenshot-540895.group.end-of-row
    .dribbble
      .dribbble-shot
        .dribbble-img
          %a.dribbble-link{:href => "/shots/540895-sneak-peak-wip?list=following"}
            %img{:alt => "Android_teaser", :src => "http://dribbble.s3.amazonaws.com/users/29114/screenshots/540895/android_teaser.png"}/
          %a.dribbble-over{:href => "/shots/540895-sneak-peak-wip?list=following"}
            %strong sneak peak wip
            %span.comment
              Haven't been submitting much stuff latelly so here's a quick glimpse of what I'm working on lately.
              
              I am working on both iOS and Android designs at the same...
            %em May 01, 2012
        %ul.tools.group
          %li.fav
            %a{:href => "/shots/540895-sneak-peak-wip/fans", :title => "See fans of this screenshot"} 326
          %li.cmnt
            %a{:href => "/shots/540895-sneak-peak-wip?list=following#comments", :title => "View comments on this screenshot"} 25
          %li.views
            4,614
      .extras
  %li#screenshot-514581.group
    .dribbble
      .dribbble-shot
        .dribbble-img
          %a.dribbble-link{:href => "/shots/514581-Prototype-testings?list=following"}
            %img{:alt => "Prototyping_teaser", :src => "http://dribbble.s3.amazonaws.com/users/29114/screenshots/514581/prototyping_teaser.png"}/
          %a.dribbble-over{:href => "/shots/514581-Prototype-testings?list=following"}
            %strong Prototype testings
            %span.comment
              Just some quick prototyping I've been making for an app concept. This is not at all rock solid, it's more a quick prototyping.
              
              The app is not about taking p...
            %em April 13, 2012
        %ul.tools.group
          %li.fav
            %a{:href => "/shots/514581-Prototype-testings/fans", :title => "See fans of this screenshot"} 181
          %li.cmnt
            %a{:href => "/shots/514581-Prototype-testings?list=following#comments", :title => "View comments on this screenshot"} 18
          %li.views
            3,510
      .extras
