.row#sign, .row#settings, .row#new-posts, .row#bbs-post {
  padding-top: 30px;

  .form-actions {
    background-color: white;
  }

  ul.auth {
    list-style: none;
    margin-left: 0;
    li { margin-bottom: 10px; }
  }
}