.row#sign, .row#settings, .row#new-posts, .row#bbs-post {
  padding-top: 30px;

  .form-actions {
    background-color: white;
  }

  ul.auth {
    list-style: none;
    margin-left: 0;
    li { margin-bottom: 10px; }
  }
}

.row#settings {
  section { padding-top: 10px; }
}

form#new_user {
  .control-group.boolean {
    label { width: 5px; display: inline-block; margin-bottom: 0; }
    p.help-block { display: inline-block; }
  }
}

ul.social-connections {
  margin-left: 20px;
  li.media {
    a {
      width: 60px;
      height: 36px;
      display: block;
      padding-left: 50px;
      background-repeat: no-repeat;
      line-height: 32px;
    }
  }
}

.box {
  ul.social-connections {
    margin: 0;
    li a {
      &.weibo { background-position: -10px -238px; }
      &.qq_connect { background-position: -70px -240px; }
      &.douban { background-position: -132px -238px; }
    }
  }
}

ul.media-list.social-connections {
  li {
    &.weibo { background-position: -10px -238px; }
    &.qq_connect { background-position: -70px -240px; }
    &.douban { background-position: -132px -238px; }
  }
}