.span3 {

  ul.media-list {
    li.notifications {
      border-top: 1px solid #ddd;
      padding-top: 5px;
    }
  }

  .box {
    margin-bottom: 15px;
    .page-header {
      margin: 0 0 10px;
    }

    table {
      td:first-child {
        text-align: right;
        border-right: 1px dashed #ddd;
        margin-right: 10px;
        display: block;
        padding-right: 10px;
      }
    }
  }
}

ul.state-bar {
  top: 0;
  right: 0;
  position: absolute;
  list-style: none;

  li {
    float: left;
    margin-left: 10px;
  }

  a {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    padding: 5px 14px;
    font-size: 12px;

    &:hover {
      background-color: #F5F5F5;
      text-decoration: none;
    }
  }
}

#bbs-boards {
  ul.media-list {
    border-top: 1px solid #F0F0F0;
    padding-top: 10px;
    li.topic {
      border-bottom: 1px solid #F0F0F0;
      padding-bottom: 10px;
      .media-body { position: relative; }
      h4.media-heading {
        font-size: 14px;
      }
    }
  }

  ul.state_bar {
    li {
      margin-right: 10px;
      &.divider-vertical {
        border-left: 1px solid #F2F2F2;
        border-right: 1px solid #FFFFFF;
        height: 24px;
      }
    }
  }

  ul.breadcrumb {
    margin-top: 15px;
    margin-bottom: 15px;

    li.last { float: right; }
  }
}
p.meta {
  margin-top: 10px;
  a { color: #404040; }
  span.divider-vertical {
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #FFFFFF;
    height: 24px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
section#post-detail {
  border-bottom: 1px solid #ddd;

  .page-header {
    &.post-header {
      img { float: right; }
      h1 {
        display: inline-block;
        margin: 0 0 5px 0;
        font-size: 18px;
        line-height: 25px;
      }
      p.meta {
        margin: 0;
        a { color: #999; }
      }
    }
  }

  .post-body {
    margin-top: 10px;
    p { margin-bottom: 5px; }
  }
}

form#new_bbs_post {
  margin-top: 10px;
  label { width: 50px; padding-top: 0; }
  .controls { margin-left: 65px; }
}

section#comments {
  &.bs-docs-example {
    content: "";
    padding: 0;
    &:after, &:before {
      content: "";
      padding: 0;
    }
  }
  .page-header.comments-list-header {
    background-color: #F5F5F5;
    border-bottom: 1px solid #DDD;
    padding: 5px;
    margin: 0;
    p {
      margin: 0; line-height: 20px;
    }
  }

  ul.media-list.comments-list {
    margin-bottom: 0;
    li.media {
      border-bottom: 1px solid #ddd;
      position: relative;
      padding: 8px;
      margin: 0;

      &:last-child { border-bottom: none; }

      ul.state-bar {
        padding: 10px;
      }
    }
  }
}

section#post-form {
  form {
    .controls {
      margin-left: 0;
    }
  }
}

a.add-post-btn {
  padding: 0;
  width: 220px;
  height: 47px;
  display: block;
  font-size: 0;
  margin-bottom: 15px;
  background-image: image-url("add-post-btn.png");
  &:hover {
    background-image: image-url("add-post-btn-hover.png")
  }
}

.post-body {
  margin-bottom: 20px;
}