// h1,h2,h3...
h1 {
  font-size: 15px;
  line-height: 15px;
  margin: 10px 0 0 0;
  small { font-size: 13px; }
}

h3 { font-size: 14px; line-height: 14px; }
h4 { font-size: 13px; line-height: 15px; }



// Section
section { padding-top: 0; }
.page-header { margin: 20px 0 10px; }

// different .jumbotron background image for each page
.jumbotron {
  height: 220px;
  padding: 20px 0 0 0;
  &.home {
    // background-image: image-url("jumbotron/banner-home.jpg");
    // background-repeat: none;
    background: image-url("jumbotron/banner-home.jpg") center center no-repeat;
    margin: 0 auto;
  }

  &.bbs {
    background: image-url("jumbotron/banner-bbs.jpg") center center no-repeat;
    background-repeat: none;
  }

  &.topic {
    background: image-url("jumbotron/banner-topic.jpg") center center no-repeat;
    background-repeat: none;
  }

  p { text-align: left; margin-left: 160px; margin-bottom: 5px; }
}

.navbar .nav.pull-right > li > a {
  padding: 20px 15px;
  &.image { padding: 15px; }
  img { margin-right: 5px; }
  b.caret { margin-top: 12px; }
}

.span3 {
  // margin-top: 15px;
  .page-header.top {
    margin-top: 0;
  }
  .box {
    border: 1px solid #DDD;
    padding: 10px;

    &.no-border {
      border: none;
      padding: 10px 0 0 0;
    }

    ul.media-list, ul.nav-pills {
      margin: 0;
      li { padding-bottom: 0; }
    }
  }
}

.alert {
  // margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
}

ul.social-connections {
  margin-bottom: 0;
  li {
    display: inline-block;
    border-left: 1px solid #e0e0e0;
    padding: 0 5px;
    &:first-child { border-left: none; }
    a {
      background-image: image-url("sns-sprites.png");
      width: 40px;
      height: 36px;
      display: block;
      font-size: 0;

      &.weibo { background-position: -10px -188px; }
      &.weibo:hover { background-position: -10px -238px; }
      &.qq_connect { background-position: -70px -190px; }
      &.qq_connect:hover { background-position: -70px -240px; }
      &.douban { background-position: -132px -188px; }
      &.douban:hover { background-position: -132px -238px; }
    }
  }
}

i.dot {
  background-image: image-url("icons/dot.png");
  height: 14px;
  width: 14px;
  display: inline-block;
  vertical-align: middle;
}

ul.thumbnails.topics {
  list-style: none;
  li.topic {
    width: 345px;
    float: left;

    &.even {
      background: #FAF9F9 image-url("icons/spuare_jc_y.png") repeat-y left top;
      margin-left: 7px;
      padding-left: 13px;
    }
    .thumbnail {
      border: none;
      box-shadow: none;
      padding: 0;
      .caption {
        padding: 10px 0;

        h3 { font-size: 18px; }
        p { padding: 0 10px; }
        ul.state_bar {
          padding: 0 10px;
          list-style: none;
          margin: 0;

          li {
            .raty {
              display: inline-block; height: 26px;
              img { width: 24px; height: 24px; display: inline-block; }
            }

            span {
              margin-right: 5px;
              border-right: 1px solid #ddd;
              &.last { border-right: none; }
              strong { font-size: 16px; }
            }
          }
        }
      }
    }
  }
}

i {
  display: inline-block;
  &.l-dot {
    width: 14px;
    height: 13px;
    background-image: image-url("icons/quote_1.png");
  }
  &.r-dot {
    width: 14px;
    height: 13px;
    background-image: image-url("icons/quote_2.png");
  }
  &.topic-header {
    width: 21px;
    height: 21px;
    background-image: image-url("icons/ico_21x21_qt.png");
    vertical-align: middle;
  }
}