// h1,h2,h3...
h1 {
  font-size: 15px;
  line-height: 15px;
  margin: 10px 0 0 0;
  small { font-size: 13px; }
}

h3 { font-size: 14px; line-height: 14px; }
h4 { font-size: 13px; line-height: 15px; }



// Section
section { padding-top: 0; }
.page-header { margin: 20px 0 10px; }

// different .jumbotron background image for each page
.jumbotron {
  &.home {
    // background-image: image-url("jumbotron/banner-home.jpg");
    // background-repeat: none;
    background: image-url("jumbotron/banner-home.jpg") center center no-repeat;
    padding: 212px 0 0;
    margin: 0 auto;
  }

  &.bbs {
    background: image-url("jumbotron/banner-bbs.jpg") center center no-repeat;
    background-repeat: none;
    padding: 212px 0 0;
  }

  &.topic {
    background: image-url("jumbotron/banner-topic.jpg") center center no-repeat;
    background-repeat: none;
    padding: 212px 0 0;
  }

  p { text-align: left; margin-left: 160px; margin-bottom: 5px; }
}

.navbar .nav.pull-right > li > a {
  padding: 20px 15px;
  &.image { padding: 15px; }
  img { margin-right: 5px; }
  b.caret { margin-top: 12px; }
}

.span3 {
  // margin-top: 15px;
  .box {
    border: 1px solid #DDD;
    padding: 10px;

    &.no-border {
      border: none;
      padding: 10px 0 0 0;
    }

    ul.media-list, ul.nav-pills {
      margin: 0;
      li { padding-bottom: 0; }
    }
  }
}

.alert {
  // margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
}

ul.social-connections {
  margin-bottom: 0;
  li {
    display: inline-block;
    border-left: 1px solid #e0e0e0;
    padding: 0 5px;
    &:first-child { border-left: none; }
    a {
      background-image: image-url("sns-sprites.png");
      width: 40px;
      height: 36px;
      display: block;
      font-size: 0;

      &.weibo { background-position: -10px -188px; }
      &.weibo:hover { background-position: -10px -238px; }
      &.qq_connect { background-position: -70px -190px; }
      &.qq_connect:hover { background-position: -70px -240px; }
      &.douban { background-position: -132px -188px; }
      &.douban:hover { background-position: -132px -238px; }
    }
  }
}

i.dot {
  background-image: image-url("icons/dot.png");
  height: 14px;
  width: 14px;
  display: inline-block;
  vertical-align: middle;
}