section {
  &#topics, &#bbs-boards {
    ul.thumbnails > li { width: 97%; }
    ul.thumbnails {
      .thumbnail {
        overflow: hidden;

        img { float: left; }
        .caption {
          overflow: hidden;

          h3 { margin: 0 0 10px 0; border-bottom: 1px dashed #eee; padding-bottom: 5px; }
          p { font-size: 13px; }
          p.desc { text-indent: 20px; }

          ul.state_bar {
            list-style: none;
            margin: 0 0 0 5px;
            border-top: 1px dashed #eee;

            li {
              &.rate { width: 175px; }
              float: left;
              line-height: 25px;
              margin-bottom: 0;

              .raty { float: right; padding-top: 5px; }
            }
          }
        }
      }
    }
  }
}

ul.media-list {
  li.media {
    padding-bottom: 5px;
    border-bottom: 1px dashed #eee;
    a.follow { float: right; }
  }
}

.bs-docs-social {
  .span8 {
    p {
      line-height: 25px; text-align: left; margin: 0; font-size: 16px;
    }
  }
  .span4 {
    h3 {
      float: left;
      line-height: 40px;
      margin: 0;
    }
  }
}

section#home {
  margin-top: 20px;
  .span4 {
    height: 320px;
    position: relative;
    &.left {
    }
    &.middle {
      width: 420px;
      // background-color: whiteSmoke;
      margin-left: 0;
      .middle-inner {
        height: 318px;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        position: relative;
        a { text-decoration: none; }
        a:hover { color: #4B941E; }
        span.type { color: #4B941E; float: none; }
        span.title { float: none; }

        .hot-corner {
          background-image: image-url("icons/hot.png");
          background-repeat: none;
          width: 43px;
          height: 43px;
          top: 0;
          right: 0;
          position: absolute;
        }
      }
    }
    &.right {
      background-color: #464B58;
      margin-left: 0;
      width: 240px;
      position: relative;

      .today-forum {
        padding: 20px;
        h1 {
          color: #83CB2E;
          font-size: 20px;
        }
        h3 {
          margin-top: 10px;
          font-size: 16px;
          line-height: 23px;
          a {
            color: white;
            &:hover { color: #83CB2E; }
          }
        }

        p {
          color: #ddd;
          i {
            width: 14px;
            height: 13px;
            display: inline-block;
            &.l-dot {
              background-image: image-url("icons/quote_1.png");
            }
            &.r-dot {
              background-image: image-url("icons/quote_2.png");
            }
          }
        }
        .bbs-btns {
          margin-top: 10px;
          a.add-reply-btn {
            width: 110px;
            height: 33px;
            background-image: image-url("btns/add-reply-btn.png");
            display: block;
            &:hover { background-image: image-url("btns/add-reply-btn-hover.png"); }
          }
        }
      }
      .follow-us {
        bottom: 0;
        padding: 10px;
        margin: 0 auto;
        position: absolute; 
        a {
          float: left;
          display: block;
          text-align: center;
          line-height: 53px;
          color: white;
          text-decoration: none;
          margin-left: 8px;
          width: 100px;
          height: 53px;
          span { padding-left: 20px; }
          &.sina-weibo-follow-btn {
            background-image: image-url('btns/sina-weibo-follow-btn.png');
            &:hover {
              background-image: image-url('btns/sina-weibo-follow-btn-hover.png');
            }
          }
          &.qq-weibo-follow-btn {
            width: 100px;
            height: 53px;
            display: block;
            background-image: image-url('btns/qq-weibo-follow-btn.png');
            &:hover {
              background-image: image-url('btns/qq-weibo-follow-btn-hover.png');
            }
          }
        }
      }
    }
    ul {
      margin: 0 0 10px 0px;
      list-style: none;

      li {
        padding: 3px 0;
        border-bottom: 1px dashed #ddd;
        a {
          color: #424242;
          &:hover { color: black; }
          span { float: right; }
        }
      }
    }
    img.video-cover {
      display:block;
      width: 320px;
      height: 320px;
    }
    a.head-title {
      position: absolute;
      top: 225px;
      left: 0;
      color: white;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 15px 30px;
      width: 210px;
      font-size: 18px;
      text-decoration: none;
      span { line-height: 33px; display: inline-block; }
      i.play {
        background-image: image-url("icons/play.png");
        height: 33px;
        width: 33px;
        display: block;
        display: inline-block;
        vertical-align: bottom;
      }
      &:hover { color: #83CB2E; }
    }

    .feature {
      padding: 10px 20px 0 20px;
      &.top {
        // border-bottom: 1px solid #ddd;
      }
      &.bottom {
        padding-top: 2px;
      }
    }
  }
}

section#activities {
  margin-top: 15px;
  margin-left: 0;
  border: 1px solid #ddd;

  .span6 {
    margin-left: 0;
    padding: 0 20px;
    width: 449px;
    height: 100px;

    a { color: #424242; }
    a:hover { color: #83CB2E; }

    &.bbs-hot {
      background: #FAF9F9 image-url("icons/spuare_jc_y.png") repeat-y left top;
      ul {
        list-style: none;
        margin: 0;
        li {
          color: #AEAEAE;
          margin-bottom: 5px;
          display: inline-block;
          margin-right: 5px;
        }
      }
    }
    &.activities_feed {
      ul {
        list-style: none;
        margin-left: 0;
        font-size: 14px;
        height: 55px;
        overflow: hidden;
        li {
          color: #AEAEAE;
          margin-bottom: 5px;
        }
      }
    }

    .page-header {
      border: none;
      margin: 0;
      i {
        background: url('http://img.xlpan.kanimg.com/2_7/images/square/tips.png ') no-repeat;
        width: 22px;
        height: 12px;
        display: inline-block;
        &.new { background-position: 0 0; }
        &.hot { background-position: 0 -16px; }
      }
    }
  }
}

section#home-banner {
  margin-top: 15px;
  .span12 { width: 980px; }
}