section#feedback {
  width: 750px;
  height: 400px;
  background-image: image-url("feedback-bg.png");
  background-repeat: no-repeat;

  form {
    margin-top: 20px;

    .form-actions {
      margin: 0;
      background: none;
      border-top: none;
      padding: 0;
      text-align: center;
    }
  }
}