// page background

$bg-noise:				#f0f0f0 url(tile.gif) repeat -70% 0;

// type
$font-face: 			"Microsoft Yahei", Helvetica, Arial, sans-serif;

// colors
$color-pink: 			#ea4c89;
$color-green: 			#8aba56;
$color-orange: 			#f83;
$color-orange-hover:	#f67213;
$color-orange-active:	#db5c02;
$color-charcoal: 		#444;
$color-text-dark: 		#444;
$color-text-medium: 	#777;
$color-text-light: 		#999;
$color-text-xlight: 	#bbb;
$color-link: 			#4083a9;
$color-link-hover: 		#205f82;

// borders
$rule: 					1px solid #ddd;