#secondary
  %h3
    %span.meta 吞食天地资讯
    订阅
  %p.info Sign up for our newsletter to receive periodic news, updates, featured content, and more.
  / Begin MailChimp Signup Form
  #mc_embed_signup
    %form#mc-embedded-subscribe-form.validate.gen-form{:action => "http://dribbble.us2.list-manage.com/subscribe/post?u=92e76579f8c5d20594c9aea1c&id=6949e2372d", :method => "post", :name => "mc-embedded-subscribe-form", :target => "_blank"}
      %fieldset
        %input#mce-EMAIL.email.form-text.placeholder{:name => "EMAIL", :placeholder => "Enter email", :required => "", :type => "email", :value => ""}
          %input#mc-embedded-subscribe.form-sub{:name => "subscribe", :type => "submit", :value => "Subscribe"}
  / End mc_embed_signup